/* General */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

/* Encabezado */
.App-header {
  display: flex;
  gap: 50px;
  align-items: center;
  padding: 20px;
  background-color: #282c34;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.App-header h1 {
  margin: 0;
  font-size: 24px;
}

.App-header nav ul {
  display: flex;
  gap: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.App-header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

.App-header nav ul li a:hover {
  color: #61dafb;
}

/* Contenedor principal */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.left-column,
.right-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}



/* Animación */
.lottie-player {
  height: 300px;
  width: 300px;
  margin-bottom: 20px;
}

.right-column .lottie-player {
  height: 400px;
  width: 400px;
}

/* Botón */
button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #21a1f1;
}

/* Párrafo */
p {
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
  color: #555;
}
